

.backend-form fieldset{
	border: 1px #EEE solid;
}

.stripecw-controls {
	display: inline-block;
}

.backend-form .stripecw-multi-control .stripecw-controls { 
	display: inline;
}

.backend-form .stripecw-confirmation-form {
	text-align: left;
	margin-top: 10px;
}

.backend-form .stripecw-control-group {
	margin-bottom: 15px;
}

.backend-form .stripecw-control-label {
	display: inline-block;
}
.backend-form .stripecw-control-label .stripecw-required {
	color: #d80000;
	font-weight: bold;
}

.backend-form .stripecw-control-group > .stripecw-controls {
	vertical-align: top;
}

.backend-form .stripecw-description {
	margin-top: 3px;
}

.backend-form .stripecw-help-block {
	color: #666;
	font-size: 11px;
	font-weight: normal;
}

.backend-form .stripecw-element-scope {
	margin-left: 190px;
}

.backend-form .buttons {
	margin-top: 5px;	
}

.stripecw-control-group {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
}


.description-label {
	display: inline-block;
	padding: 6px 15px;
	width: 160px;
	text-align: left;
}
