.title-product-tabs{
	background: none repeat scroll 0% 0% #363636;
	padding-top: 10px;
}
ul.tabs li{
	float: left;
	cursor: pointer;
	border-left: 1px solid #4A4A4A;
	position: relative;
	overflow: hidden;
}
ul.tabs li:hover{
	background-color: #fff;
}
ul.tabs li:hover h3{
	color: #000
}
ul.tabs li.active{
	background: none repeat scroll 0% 0% #FFF;
	border: 0px none;
}
ul.tabs li:hover::before,
ul.tabs li.active::before {
    content: "";
    width: 0px;
    height: 0px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #92C841;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    position: absolute;
    top: -20px;
    left: 0px;
}
ul.tabs li h3{
    text-transform: uppercase;
	font-size: 18px;
	color: #FFF;
	padding: 20px 30px 25px;
}
ul.tabs li.active h3{
	color: #363636;
}
ul.tabs li span:hover, ul.tabs li.active span{
    cursor: pointer;
}
.tab_container{
    margin-top:35px;
}
.product-tabs-container-slider .productTabContent li{
    border: 0 none;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
}
.tab_content{
	transition: all 0.5s ease 0s;
}
.tab_content.animate1{
	opacity:1;
	transition: all 0.5s ease 0s;
}
.product-tabs-container-slider .tab-grid{
    margin-bottom: 30px;
}
.product-tabs-container-slider .productTabContent{position:relative; display:inline-block;}	
.product-tabs-container-slider .productTabContent li{ float:left; list-style:none; width:210px; position:relative; border:1px solid #dedede; margin:15px 0px 15px 10px;text-align:center;}
.product-tabs-container-slider .productTabContent h5.s_title_block a,.productTabContent .price_container{
	color:#000;
}
.product-tabs-container-slider .productTabContent .sale{
width:30px; height:30px; border:1px solid #fff; border-radius:40px; background-color:#e84c3d;
display:block; color:#fff;padding:2px; position:absolute; right:0; top:0;
}
.product-tabs-container-slider .productTabContent .new{
width:30px; height:30px; border:1px solid #fff; border-radius:40px; background:#27ae61;
display:block; color:#fff; padding:2px; position:absolute; left:0; font-size:12px;top:0; text-indent:0;
}
.product-tabs-container-slider .bx-wrapper .bx-viewport{height: auto !important;}
/* #tab_new_product, #tab_besseller_product{
	-webkit-transform: translateX(-30px);
	-moz-transform: translateX(-30px);
	-o-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	transform: translateX(-30px);
}
#tab_special_product, #tab_feature_product{
    -webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-o-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
} */
